<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Character Manager</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="/css/character.css">
    <link href="https://fonts.googleapis.com/css2?family=David+Libre:wght@400;700&family=Montserrat:wght@200&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/d8f5f7035a.js" crossorigin="anonymous"></script>
 
    
</head>
<body>      
            
<form id="my-form" action="/character/edit/<%= character._id %>?_method=PUT" method="POST">
    
    <% console.log(user._id, 'userrrrr') %> 

    <header>
        <div>
            <h1>Character Manager</h1>
            <h3>Edit Page/Main Character</h3>
            <h3>Welcome, <%= user.firstName %></h3>
            <h3><%= dateAndTime() %> </h3>            
        </div>
        <div>
            <a href="/auth/logout">
                <button type="button">Logout</button>            
            </a>
        </div>
        <div>            
            <button class="button" type="submit">Save</button> 
        </div>                              
            
              
    </header>

<section class="main" id="main-container">  
   
    <div class="left-side-bar">
        <fieldset>                 
         
            <!-- <#% const order = [Ancestry] %> -->
            <%# for (const [key, value] of Object.entries(character)) { %>
                    <%# if checkbox vs input vs textarea %>
                    <!-- <div>
                        <input class="larger-input" id="<%#= key %>" type="text" placeholder="" name="<%#= key %>" value="<%#= value %>">
                    </div> -->
                <%#} %>            
               
            <div>Ancestry:</div>        
                <div>                
                    <input class="larger-input" id="inputValues1" type="text" placeholder="" name="ancestry" value="<%=character.ancestry %>">                
                </div>         
            <div>Heritage:</div>
                <div>    
                    <input class="larger-input" id="inputValues2" type="text" placeholder="" name="heritage" value="<%=character.heritage %>">                                                          
                </div>
            <div>Background:</div>
                <div>
                    <input class="larger-input" id="inputValues3" type="text" placeholder="" name="background" value="<%= character.background %>">
                </div>
            <div>Ancestry Ability:</div>
                <div>
                    <input class="larger-input" type="text" placeholder="" name="ancestryAbility" value="<%= character.ancestryAbility %>">
                </div>                    
            <div>Class:</div>
                <div>
                    <input class="larger-input" type="text" placeholder="" name="class" value="<%= character.class %>">
                </div>                    
            <div>Background Ability:</div>
                <div>    
                    <textarea  id="" cols="20" rows="5" name="backgroundAbility" placeholder="<%= character.backgroundAbility %>"  ></textarea>                
                </div>
            <div>Deity:</div>
                <div>             
                    <input class="larger-input" type="text" name="deity" placeholder="" value="<%= character.deity %>"> 
                </div>
            
                 <div class="title-div">
                        <span class="titles">Skills</span>    
                    </div>
        </fieldset> 
    
            <section class="skills-container">
               
                <!-- <div class="skills-cont-1"> -->
                    <div>                 
                        <span>Acrobatics =</span>
                        <input class="number-input" name="acrobatics" type="number" value=<%= character.acrobatics %>>
                    </div>
                    <div>                 
                        <span>Arcana =</span>
                        <input class="number-input" type="number" name="arcana" value=<%= character.arcana %>>
                    </div>
                    <div>                 
                        <span>Athletics =</span>
                        <input class="number-input" type="number" name="athletics" value=<%= character.athletics %>>
                    </div>
                    <div>                 
                        <span>Crafting =</span>
                        <input class="number-input" type="number" name="crafting" value=<%= character.crafting %>>
                    </div>
                    <div>                 
                        <span>Deception =</span>
                        <input class="number-input" type="number" name="deception" value=<%= character.deception %>>
                    </div>
                    <div>                 
                        <span>Diplomacy =</span>
                        <input class="number-input" type="number" name="diplomacy" value=<%= character.diplomacy %>>
                    </div>
                    <div>                 
                        <span>Intimidation =</span>
                        <input class="number-input" type="number" name="intimidation" value=<%= character.intimidation %>>
                    </div>
                    <div>
                        <input class="lore-type" type="text" name="firstLore" value="<%= character.firstLore %> ">                 
                        <span>Lore =</span>
                        <input class="number-input" type="number" name="firstLoreB" value=<%= character.firstLoreB %>>
                    </div>
                    <div>
                        <input class="lore-type" type="text" name="secondLore" value="<%= character.secondLore %>">                 
                        <span>Lore =</span>
                        <input class="number-input" type="number" name="secondLoreB" value=<%= character.secondLoreB %>>
                    </div>
                <!-- </div> -->
        
                <!-- <div class="skills-cont-2"> -->
                    <div>                 
                        <span>Medicine =</span>
                        <input class="number-input" type="number" name="medicine" value=<%= character.medicine %> >
                    </div>
                    <div>                 
                        <span>Nature =</span>
                        <input class="number-input" type="number" name="nature" value=<%= character.nature %> >
                    </div>
                    <div>                 
                        <span>Occultism =</span>
                        <input class="number-input" type="number" name="occultism" value=<%= character.occultism %> >
                    </div>
                    <div>                 
                        <span>Performance =</span>
                        <input class="number-input" type="number" name="performance" value=<%= character.performance %> >
                    </div>
                    <div>                 
                        <span>Religion =</span>
                        <input class="number-input" type="number" name="religion" value= <%= character.religion %> > 
                    </div>
                    <div>                 
                        <span>Society =</span>
                        <input class="number-input" type="number" name="society" value= <%= character.society %> >
                    </div>
                    <div>                 
                        <span>Stealth=</span>
                        <input class="number-input" type="number" name="stealth" value=<%= character.stealth %> >
                    </div>
                    <div>                 
                        <span>Survival =</span>
                        <input class="number-input" type="number" name="survival" value=<%= character.survival %> >
                    </div>
                    <div>                 
                        <span>Thievery =</span>
                        <input class="number-input" type="number" name="thievery" value=<%= character.thievery %> >
                    </div>
                <!-- </div> -->          
            </section>

    <!-- levels -->
    <section class="level-container">
    <div>
        <button type="button">Level 1</button>
    </div>
    <div>
        <button type="button">Level 2</button>
    </div>
    <div>
        <button type="button">Level 3</button>
    </div>
    <div>
        <button type="button">Level 4</button>
    </div>
    <div>
        <button type="button">Level 5</button>
    </div>
    <div>
        <button type="button">Level 6</button>
    </div>
    <div>
        <button type="button">Level 7</button>
    </div>
    <div>
        <button type="button">Level 8</button>
    </div>
    <div>
        <button type="button">Level 9</button>
    </div>
    <div>
        <button type="button">Level 10</button>
    </div>
    <div>
        <button type="button">Level 11</button>
    </div>
    <div>
        <button type="button">Level 12</button>
    </div>
    <div>
        <button type="button">Level 13</button>
    </div>
    <div>
        <button type="button">Level 14</button>
    </div>
    <div>
        <button type="button">Level 15</button>
    </div>
    <div>
        <button type="button">Level 16</button>
    </div>
    <div>
        <button type="button">Level 17</button>
    </div>
    <div>
        <button type="button">Level 18</button>
    </div>
    <div>
        <button type="button">Level 19</button>
    </div>
    <div>
        <button type="button">Level 20</button>
    </div>



    </section>

    </div>       

    <!---Chacter Name----->
<section class="main-container-right">

    <div class="char-container">
            <div class="text-border">          
                <div>Character Name</div>                
                    <div class="mouse-out" id="mouse-out">
                        <input class="larger-input" name="charName" type="text" value="<%= character.charName %> ">
                    </div> 
            </div>
            <div class="text-border">                  
                <div>Player Name</div>
                    <div>     
                        <input class="larger-input" type="text" name="playerName" value="<%= character.playerName %> ">   
                    </div>
            </div> 
            <div class="text-border">                
                <div>Level</div>
                    <div>
                        <input class="number-input" type="number" placeholder="" name="level" value=<%= character.level %>>            
                    </div> 
            </div>
            <div class="text-border">                
                <div>XP</div>
                    <div>
                        <input class="number-input" type="number" placeholder="" name="xp" value=<%= character.xp%>>
                    </div>
            </div>

            <div class="text-border">                 
                <div>Hero Points</div>
                    <div class="hero-points-div">
                        <input hidden type="checkbox" name="heroCheck" value="noPoint" checked >                      
                        <input type="checkbox" name="heroCheck" value="onePoint" <%= character.heroCheck.includes("onePoint") ? "checked" : " " %>>                        
                        <input type="checkbox" name="heroCheck" value="twoPoint" <%= character.heroCheck.includes("twoPoint") ? "checked" : " " %>>  
                        <input type="checkbox" name="heroCheck" value="threePoint" <%= character.heroCheck.includes("threePoint") ? "checked" : " " %>>        
                    </div>
            </div>


            
            <div class="text-border">    
                <div>Size</div>
                   <select name="size" id="charSize">
                         <option value="tiny" <%=character.size === 'tiny' ? 'selected' : '' %>>Tiny</option>                         
                         <option value="small" <%=character.size === 'small' ? 'selected' : '' %>>Small</option>
                         <option value="medium" <%=character.size === 'medium' ? 'selected' : '' %>>Medium</option>
                         <option value="large" <%=character.size === 'large' ? 'selected' : '' %>>Large</option>
                         <option value="huge" <%=character.size === 'huge' ? 'selected' : '' %>>Huge</option>
                        <option value="gargantuan" <%=character.size === 'gargantuan' ? 'selected' : '' %>>Gargantuan</option>
                    </select>                                   
            </div>        
        
            <div class="text-border">        
                <div>Alignment</div>
                    <select name="alignment" id="">
                        <option value="lg" <%=character.alignment === 'lg' ? 'selected' : '' %>>LG</option>
                        <option value="ln" <%=character.alignment === 'ln' ? 'selected' : '' %>>LN</option>
                        <option value="le" <%=character.alignment === 'le' ? 'selected' : '' %>>LE</option>
                        <option value="ng" <%=character.alignment === 'ng' ? 'selected' : '' %>>NG</option>
                        <option value="tn" <%=character.alignment === 'tn' ? 'selected' : '' %>>TN</option>
                        <option value="ne" <%=character.alignment === 'ne' ? 'selected' : '' %>>NE</option>
                        <option value="cg" <%=character.alignment === 'cg' ? 'selected' : '' %>>CG</option>
                        <option value="cn" <%=character.alignment === 'cn' ? 'selected' : '' %>>CN</option>
                        <option value="ce" <%=character.alignment === 'ce' ? 'selected' : '' %>>CE</option>
                    </select> 
            </div>
            <div class="text-border"> 
                <div>Traits</div>
                    <div>
                        <input class="traits" type="text" placeholder="" name="traits" value="<%= character.traits %>">           
                    </div>
            </div>
    </div>

   <!-- Hit Points -->
    <div class="hp-container">
            <div class="text-border">              
                <div>HP</div>                   
                    <div>
                        <input class="number-input" type="number" name="hp" value=<%= character.hp %>>
                    </div>
            </div>
            <div class="text-border">             
                <div>Current</div>                    
                    <div>
                        <input class="number-input" type="number" name="currentHP" value=<%= character.currentHP %>>
                    </div>
            </div>

            <div class="text-border">            
                <div>Temporary</div>                
                    <div>
                        <input class="number-input" type="number" name="tempHP" value=<%= character.tempHP %>>
                    </div>
            </div>

            <div class="text-border">    
                <div>Dying</div>
                    <div class="hero-points-div">
                        <input hidden type="checkbox" name="dyingCheck" value="noPoint" checked >                   
                        <input class="dying" type="checkbox" name="dyingCheck" value="dyingOne" <%= character.dyingCheck.includes("dyingOne") ? "checked" : "" %>>
                        <input class="dying" type="checkbox" name="dyingCheck" value="dyingTwo" <%= character.dyingCheck.includes("dyingTwo") ? "checked" : "" %>>  
                        <input class="dying" type="checkbox" name="dyingCheck" value="dyingThree" <%= character.dyingCheck.includes("dyingThree") ? "checked" : "" %>>        
                    </div>
            </div>

            <div class="text-border">    
                <div>Wounded</div>
                    <div class="hero-points-div">
                        <input hidden type="checkbox" name="woundedCheck" value="noPoint" checked > 
                        <input type="checkbox" value="woundedOne" name="woundedCheck" <%= character.woundedCheck.includes("woundedOne") ? "checked" : "" %>>
                        <input type="checkbox" value="woundedTwo" name="woundedCheck" <%= character.woundedCheck.includes("woundedTwo") ? "checked" : "" %>>  
                        <input type="checkbox" value="woundedThree" name="woundedCheck" <%= character.woundedCheck.includes("woundedThree") ? "checked" : "" %>>        
            </div>                       
        <!-- </div>         -->
    </div>   
        <!-- stats and mods -->
        <div class="ability-container">              
            
            <div class="text-border"> 
                 <div class="ability-scores">Str</div>
                     <div>                                               
                         <input class="number-input" type="number" name="totalStr" value=<%= character.totalStr %>>   
                     </div>
                     <div class="mod-div">              
                        <span>+</span>
                        <input class="number-input" type="number" name="strMod" value=<%= character.strMod %>>                        
                     </div> 
            </div>           
            <div class="text-border"> 
                <div class="ability-scores">Dex</div>
                    <div>                                               
                        <input class="number-input" type="number" name="totalDex" value=<%= character.totalDex %>>   
                    </div>
                    <div class="mod-div">              
                       <span>+</span>
                       <input class="number-input" type="number" name="dexMod" value=<%= character.dexMod %>>                        
                    </div> 
           </div>           
                 <div class="text-border"> 
                 <div class="ability-scores">Con</div>
                     <div>                                               
                         <input class="number-input" type="number" name="totalCon" value=<%= character.totalCon %>>   
                     </div>
                     <div class="mod-div">              
                        <span>+</span>
                        <input class="number-input" type="number" name="conMod" value=<%= character.conMod %>>                        
                     </div> 
            </div>                            
                 <div class="text-border"> 
                 <div class="ability-scores">Int</div>
                     <div>                                               
                         <input class="number-input" type="number" name="totalInt" value=<%= character.totalInt %>>   
                     </div>
                     <div class="mod-div">              
                        <span>+</span>
                        <input class="number-input" type="number" name="intMod" value=<%= character.intMod %>>                        
                     </div> 
            </div>             
                 <div class="text-border"> 
                 <div class="ability-scores">Wis</div>
                     <div>                                               
                         <input class="number-input" type="number" name="totalWis" value=<%= character.totalWis %>>   
                     </div>
                     <div class="mod-div">              
                        <span>+</span>
                        <input class="number-input" type="number" name="wisMod" value=<%= character.wisMod %>>                        
                     </div> 
            </div>           
             
                 <div class="text-border"> 
                 <div class="ability-scores">Cha</div>
                     <div>                                               
                         <input class="number-input" type="number" name="totalCha" value=<%= character.totalCha %>>   
                     </div>
                     <div class="mod-div">              
                        <span>+</span>
                        <input class="number-input" type="number" name="chaMod" value=<%= character.chaMod %>>                        
                     </div> 
            </div>           
         </div>
    </div>

    <!-- resistance and conditions -->
    <div class="resis-cond-container">
            <div class="text-border">    
                <div>Resistances/Immunities:</div> 
                    <div>
                        <textarea name="resistsImmunities" id="" cols="25" rows="3" placeholder="<%= character.resistsImmunities %>"></textarea>
                    </div>
                </div>

            <div class="text-border">    
                <div>Conditions:</div>
                    <div>
                        <textarea name="conditions" id="" cols="25" rows="3" placeholder="<%= character.conditions %>"></textarea>
                    </div> 
                </div>  
               
    <!-- saving throws -->     
        <div class="saving-throws-container">           
            <div class="titles">Saving Throws</div>
            
            <div class="saves">
                <div class="saves-text-main">
                    <div>Fort</div>
                        <div>
                            <input class="number-input" type="number" name="fortSave" value=<%= character.fortSave %>>
                        </div>             
                </div>
                <div class="saves-text">    
                    <div>Con</div>
                        <div>
                            <input class="number-input" type="number" name="fortMod" value=<%= character.fortMod %>> 
                        </div>
                </div>
                <div class="saves-text">
                    <div>Prof</div>
                        <div>
                            <input class="number-input" type="number" name="fortProf" value=<%= character.fortProf %>>
                        </div>
                </div>
                <div class="saves-text">
                    <div>Item</div>
                        <div>
                            <input class="number-input" type="number" name="fortItem" value=<%= character.fortItem %>>                               
                        </div>
                </div>
                <div class="saves-text-check">                            
                    <div class="hero-points-div">
                        <input hidden type="checkbox" name="fortCheck" value="noPoint" checked > 
                        <input type="checkbox" value="plusTwo" name="fortCheck" <%= character.fortCheck.includes("plusTwo") ? "checked" : "" %>>
                        <input type="checkbox" value="plusFour" name="fortCheck" <%= character.fortCheck.includes("plusFour") ? "checked" : "" %>>  
                        <input type="checkbox" value="plusSix" name="fortCheck" <%= character.fortCheck.includes("plusSix") ? "checked" : "" %>>
                        <input type="checkbox" value="plusEight" name="fortCheck" <%= character.fortCheck.includes("plusEight") ? "checked" : "" %>>        
                    </div>                            
                </div>
            </div>                 
            <!-- reflex -->
            <div class="saves">                                               
                <div class="saves-text-main">
                    <div>Reflex</div>
                        <div>
                            <input class="number-input" type="number" name="reflexSave" value=<%= character.reflexSave %>>
                        </div>             
                </div>
                <div class="saves-text">    
                    <div>Dex</div>
                        <div>
                            <input class="number-input" type="number" name="reflexMod" value=<%= character.reflexMod %>> 
                        </div>
                </div>
                <div class="saves-text">
                    <div>Prof</div>
                        <div>
                            <input class="number-input" type="number" name="reflexProf" value=<%= character.reflexProf %>>
                        </div>
                </div>
                <div class="saves-text">
                    <div>Item</div>
                        <div>
                            <input class="number-input" type="number" name="reflexItem" value=<%= character.reflexItem %>>                               
                        </div>
                </div>
                <div class="saves-text-check">                            
                    <div class="hero-points-div">    
                        <input hidden type="checkbox" name="reflexCheck" value="noPoint" checked >                     
                        <input type="checkbox" value="plusTwo" name="reflexCheck" <%= character.reflexCheck.includes("plusTwo") ? "checked" : "" %>>
                        <input type="checkbox" value="plusFour" name="reflexCheck" <%= character.reflexCheck.includes("plusFour") ? "checked" : "" %>>  
                        <input type="checkbox" value="plusSix" name="reflexCheck" <%= character.reflexCheck.includes("plusSix") ? "checked" : "" %>>
                        <input type="checkbox" value="plusEight" name="reflexCheck" <%= character.reflexCheck.includes("plusEight") ? "checked" : "" %>>  
                                            
                    </div>                            
                </div>
        </div> 
            <!-- will --> 
            <div class="saves">                                      
                <div class="saves-text-main">
                    <div>Will</div>
                        <div>
                            <input class="number-input" type="number" name="willSave" value=<%= character.willSave %>>
                        </div>             
                </div>
                <div class="saves-text">    
                    <div>Wis</div>
                        <div>
                            <input class="number-input" type="number" name="willMod" value=<%= character.willMod %>> 
                        </div>
                </div>
                <div class="saves-text">
                    <div>Prof</div>
                        <div>
                            <input class="number-input" type="number" name="willProf" value=<%= character.willProf %>>
                        </div>
                </div>
                <div class="saves-text">
                    <div>Item</div>
                        <div>
                            <input class="number-input" type="number" name="willItem" value=<%= character.willItem %>>                               
                        </div>
                </div>
                <div class="saves-text-check">                            
                    <div class="hero-points-div">
                        <input hidden type="checkbox" name="willCheck" value="noPoint" checked > 
                        <input type="checkbox" value="plusTwo" name="willCheck" <%= character.willCheck.includes("plusTwo") ? "checked" : "" %>>
                        <input type="checkbox" value="plusFour" name="willCheck" <%= character.willCheck.includes("plusFour") ? "checked" : "" %>>  
                        <input type="checkbox" value="plusSix" name="willCheck" <%= character.willCheck.includes("plusSix") ? "checked" : "" %>>
                        <input type="checkbox" value="plusEight" name="willCheck" <%= character.willCheck.includes("plusEight") ? "checked" : "" %>>        
                    </div>                           
                </div>
            </div>            
        </div>    
    </div>          

        <!-- dc's, ac -->    
     
    
    <div class="armor-container">    
        <div class="ac-style">
            <div>
                <input class="number-input" type="number" name="totalAC" value=<%= character.totalAC %>>
            </div>
            <div>= AC</div>
        </div>
        <div>Dex:</div>
            <div>
                <input class="number-input" type="number" name="acDexBonus"value=<%= character.acDexBonus %>> 
            </div>            
        <div>Cap:</div>
            <div>
                <input class="number-input" type="number" name="acCap"value=<%= character.acCap %>> 
            </div>          
            <div class="hero-points-div">
                <input hidden type="checkbox" name="acProfCheck" value="noPoint" checked > 
                <input type="checkbox" value="plusTwo" name="acProfCheck" <%= character.acProfCheck.includes("plusTwo") ? "checked" : "" %>>
                <input type="checkbox" value="plusFour" name="acProfCheck"<%= character.acProfCheck.includes("plusFour") ? "checked" : "" %>>  
                <input type="checkbox" value="plusSix" name="acProfCheck" <%= character.acProfCheck.includes("plusSix") ? "checked" : "" %>>
                <input type="checkbox" value="plusEight" name="acProfCheck" <%= character.acProfCheck.includes("plusEight") ? "checked" : "" %>>        
            </div>    
        <div>Item:</div>
            <div>
                <input class="number-input" type="number" name="acItemBonus" value=<%= character.acItemBonus %>>
            </div>
    </div>
    <!--armor type  -->
    <div class="armor-type-container">
        <div class="armor-type-text">            
            <div>Unarmored</div>
            <div class="hero-points-div">
                <input hidden type="checkbox" name="unarmoredCheck" value="noPoint" checked >
                <input type="checkbox" value="plusTwo" name="unarmoredCheck" <%= character.unarmoredCheck.includes("plusTwo") ? "checked" : "" %>>
                <input type="checkbox" value="plusFour" name="unarmoredCheck" <%= character.unarmoredCheck.includes("plusFour") ? "checked" : "" %>>  
                <input type="checkbox" value="plusSix" name="unarmoredCheck" <%= character.unarmoredCheck.includes("plusSix") ? "checked" : "" %>>
                <input type="checkbox" value="plusEight" name="unarmoredCheck" <%= character.unarmoredCheck.includes("plusEight") ? "checked" : "" %>>        
            </div> 
        </div>

        <div class="armor-type-text"> 
            <div>Light</div>
            <div class="hero-points-div">
                <input hidden type="checkbox" name="lightArmorCheck" value="noPoint" checked >
                <input type="checkbox" value="plusTwo" name="lightArmorCheck" <%= character.lightArmorCheck.includes("plusTwo") ? "checked" : "" %>>
                <input type="checkbox" value="plusFour" name="lightArmorCheck" <%= character.lightArmorCheck.includes("plusFour") ? "checked" : "" %>>  
                <input type="checkbox" value="plusSix" name="lightArmorCheck" <%= character.lightArmorCheck.includes("plusSix") ? "checked" : "" %>>
                <input type="checkbox" value="plusEight" name="lightArmorCheck" <%= character.lightArmorCheck.includes("plusEight") ? "checked" : "" %>>        
            </div>  
        </div>
        <div class="armor-type-text"> 
            <div>Medium</div>
            <div class="hero-points-div">
                <input hidden type="checkbox" name="mediumArmorCheck" checked >
                <input type="checkbox" value="plusTwo" name="mediumArmorCheck" <%= character.mediumArmorCheck.includes("plusTwo") ? "checked" : "" %>>
                <input type="checkbox" value="plusFour" name="mediumArmorCheck" <%= character.mediumArmorCheck.includes("plusFour") ? "checked" : "" %>>  
                <input type="checkbox" value="plusSix" name="mediumArmorCheck" <%= character.mediumArmorCheck.includes("plusSix") ? "checked" : "" %>>
                <input type="checkbox" value="plusEight" name="mediumArmorCheck" <%= character.mediumArmorCheck.includes("plusEight") ? "checked" : "" %>>        
            </div>  
        </div>
        <div class="armor-type-text"> 
            <div>Heavy</div>       
            <div class="hero-points-div">
                <input hidden type="checkbox" name="heavyArmorCheck" value="noPoint" checked >
                <input type="checkbox" value="plusTwo" name="heavyArmorCheck" <%= character.heavyArmorCheck.includes("plusTwo") ? "checked" : "" %>>
                <input type="checkbox" value="plusFour" name="heavyArmorCheck" <%= character.heavyArmorCheck.includes("plusFour") ? "checked" : "" %>>  
                <input type="checkbox" value="plusSix" name="heavyArmorCheck" <%= character.heavyArmorCheck.includes("plusSix") ? "checked" : "" %>>
                <input type="checkbox" value="plusEight" name="heavyArmorCheck"<%= character.heavyArmorCheck.includes("plusEight") ? "checked" : "" %>>        
            </div>   
        </div>       
    </div>
    <!-- shield info -->
    <div class="shield-header" id="shield-title">
        <button type="button" id="shield-button">Show Shield</button>        
    </div>

    <div class="shield-container" id="shield-info">        
        <div class="armor-type-text">           
            <div>Raise</div>            
                <!-- <div> -->
                   <!-- <span>+<input class="number-input" type="number">AC</span> -->
                   <div class="shieldac-div">              
                    <span>+</span>
                    <input class="number-input" type="number" name="shieldAC" value=<%= character.shieldAC %>>   
                    <span>AC</span>                     
                 </div>
                <!-- </div>         -->
            </div>
        <div class="armor-type-text"> 
            <div>Hardness</div>
                <div>
                    <input class="number-input" type="number" name="hardness" value=<%= character.hardness %>> 
                </div>
        </div>
        <div class="armor-type-text"> 
            <div>Max HP</div>
                <div>
                    <input class="number-input" type="number" name="shieldHP" value=<%= character.shieldHP %>>                     
                </div>
        </div>
        <div class="armor-type-text"> 
            <div>Break</div>
                <div>
                    <input class="number-input" type="number" name="shieldBreak" value=<%= character.shieldBreak %>> 
                </div>
        </div>
        <div class="armor-type-text"> 
            <div>Current HP</div>
                <div>   
                    <input class="number-input" type="number" name="shieldCurrentHP" value=<%= character.shieldCurrentHP %>> 
                </div>  
        </div>   
    </div>
    
    <div class="classdc-container">                 
        <div class="ac-style">                               
            <div>   
                <input class="number-input" type="number" name="classDC" value=<%= character.classDC %>>           
            </div>
            <div>= Class DC</div>             
        </div>
        <div>Key:</div>
            <div>                                
                <input class="number-input" type="number" name="classKey" value=<%= character.classKey %>> 
            </div>
        <div>Prof:</div>
            <div>                     
                <input class="number-input" type="number" name="classDCProf" value=<%= character.classDCProf %>>
            </div>
    
            <div class="hero-points-div">
                <input hidden type="checkbox" name="classDcCheck" value="noPoint" checked >
                <input type="checkbox" value="plusTwo" name="classDcCheck" <%= character.classDcCheck.includes("plusTwo") ? "checked" : "" %>>
                <input type="checkbox" value="plusFour" name="classDcCheck" <%= character.classDcCheck.includes("plusFour") ? "checked" : "" %>>  
                <input type="checkbox" value="plusSix" name="classDcCheck" <%= character.classDcCheck.includes("plusSix") ? "checked" : "" %>>
                <input type="checkbox" value="plusEight" name="classDcCheck" <%= character.classDcCheck.includes("plusEight") ? "checked" : "" %>>        
            </div>

    <div>Item:</div>
        <div>
            <input class="number-input" type="number" name="classDCItem" value=<%= character.classDCItem %>>
        </div>                                                
</div>

    <!-- Perception Info -->
    <div class="perception-container">           
        <div class="ac-style">                               
            <div>   
                <input class="number-input" type="number" name="perception" value=<%= character.perception %>>           
            </div>
            <div>= Perception</div>             
        </div>

        <div>Wis:</div>                
            <div>
               <input class="number-input" type="number" name="wisBonus" value=<%= character.wisBonus %>>
            </div>

        <div>Prof:</div>            
            <div>
                <input class="number-input" type="number" name="perceptionProf" value=<%= character.perceptionProf %>>
            </div>

            <div class="hero-points-div">
                <input hidden type="checkbox" name="perceptionCheck" value="noPoint" checked >
                <input type="checkbox" value="plusTwo" name="perceptionCheck" <%= character.perceptionCheck.includes("plusTwo") ? "checked" : "" %>>
                <input type="checkbox" value="plusFour" name="perceptionCheck" <%= character.perceptionCheck.includes("plusFour") ? "checked" : "" %>>  
                <input type="checkbox" value="plusSix" name="perceptionCheck" <%= character.perceptionCheck.includes("plusSix") ? "checked" : "" %>>
                <input type="checkbox" value="plusEight" name="perceptionCheck" <%= character.perceptionCheck.includes("plusEight") ? "checked" : "" %>>        
            </div>   
    </div>                            
            
    <!-- senses text box -->
    <div class="senses">
        <div>Senses:</div>
            <div>
                <textarea name="body" id="" cols="25" rows="3" name="senses" placeholder="<%= character.senses %> " ></textarea>
            </div>        
    </div>    

    <!-- Weapons -->
<div class="weapon-container">
    <span class="titles">Weapon Information</span>    

<!-- Weapon Proficiencies  -->
<div class="weapon-prof-container">
    <div>         
        <span>Proficiencies</span>
    </div>
    <div class="weapon-prof-divs">
        <div>           
            <div>Unarmed</div>
            <div class="weapon-prof-checks">
                <input hidden type="checkbox" name="unarmedCheck" value="noPoint" checked >
                <input type="checkbox" value="plusTwo" name="unarmedCheck" <%= character.unarmedCheck.includes("plusTwo") ? "checked" : "" %>>
                <input type="checkbox" value="plusFour" name="unarmedCheck" <%= character.unarmedCheck.includes("plusFour") ? "checked" : "" %>>  
                <input type="checkbox" value="plusSix" name="unarmedCheck" <%= character.unarmedCheck.includes("plusSix") ? "checked" : "" %>>
                <input type="checkbox" value="plusEight" name="unarmedCheck" <%= character.unarmedCheck.includes("plusEight") ? "checked" : "" %>>        
            </div>    
        </div>    
        <div>         
            <div>Simple</div>
            <div class="weapon-prof-checks">
                <input hidden type="checkbox" name="simpleCheck" value="noPoint" checked >
                <input type="checkbox" value="plusTwo" name="simpleCheck" <%= character.simpleCheck.includes("plusTwo") ? "checked" : "" %>>
                <input type="checkbox" value="plusFour" name="simpleCheck" <%= character.simpleCheck.includes("plusFour") ? "checked" : "" %>>  
                <input type="checkbox" value="plusSix" name="simpleCheck" <%= character.simpleCheck.includes("plusSix") ? "checked" : "" %>>
                <input type="checkbox" value="plusEight" name="simpleCheck" <%= character.simpleCheck.includes("plusEight") ? "checked" : "" %>>        
            </div>    
        </div>
        <div>            
            <div>Martial</div>
            <div class="weapon-prof-checks">
                <input hidden type="checkbox" name="martialCheck" value="noPoint" checked >
                <input type="checkbox" value="plusTwo" name="martialCheck" <%= character.martialCheck.includes("plusTwo") ? "checked" : "" %>>
                <input type="checkbox" value="plusFour" name="martialCheck" <%= character.martialCheck.includes("plusFour") ? "checked" : "" %>>  
                <input type="checkbox" value="plusSix" name="martialCheck" <%= character.martialCheck.includes("plusSix") ? "checked" : "" %>>
                <input type="checkbox" value="plusEight" name="martialCheck" <%= character.martialCheck.includes("plusEight") ? "checked" : "" %>>        
            </div>
        </div>
        <div>            
            <div>Advanced</div>
            <div class="weapon-prof-checks">
                <input hidden type="checkbox" name="advancedCheck" value="noPoint" checked >
                <input type="checkbox" value="plusTwo" name="advancedCheck" <%= character.advancedCheck.includes("plusTwo") ? "checked" : "" %>>
                <input type="checkbox" value="plusFour" name="advancedCheck" <%= character.advancedCheck.includes("plusFour") ? "checked" : "" %>>  
                <input type="checkbox" value="plusSix" name="advancedCheck" <%= character.advancedCheck.includes("plusSix") ? "checked" : "" %>>
                <input type="checkbox" value="plusEight" name="advancedCheck" <%= character.advancedCheck.includes("plusEight") ? "checked" : "" %>>      
            </div>
        </div>
    </div>     
</div>  

<div id="weapon-button">
    <button type="button">Add Weapon</button>
</div>
      
        <!-- Melee -->       
           
            <div class="melee-weapon-div" id="melee-weapon">
                <div>
                    <div>
                        <span>Weapon Name</span>
                    </div>
                    <input type="text" name="meleeWeaponName" id="" value="<%= weapon.meleeWeaponName %> ">
                </div>

                <div class="damage-die">
                    <div>
                        <span>Attack</span>
                    </div>
                    <input class="number-input" type="number" name="attackDie" value=<%= character.attackDie %>>
                    <span>d</span>
                    <input class="number-input" type="number" name="damageDie" value=<%= character.damageDie %>>
                    <select name="damageTypeWeapon" id="">
                        <option value="P" <%=character.damageTypeWeapon === 'P' ? 'selected' : '' %>>P</option>
                        <option value="S" <%=character.damageTypeWeapon === 'S' ? 'selected' : '' %>>S</option>
                        <option value="B" <%=character.damageTypeWeapon === 'B' ? 'selected' : '' %>>B</option>                        
                    </select>
                </div>

                <div class="weapon-prof-list">
                    <div>Type</div>
                    <select name="weaponProfType" id="">
                        <option value="Unarmed" <%=character.weaponProfType === 'Unarmed' ? 'selected' : '' %>>Unarmed</option>
                        <option value="Simple" <%=character.weaponProfType === 'Simple' ? 'selected' : '' %>>Simple</option>
                        <option value="Martial" <%=character.weaponProfType === 'Martial' ? 'selected' : '' %>>Martial</option>
                        <option value="Advanced" <%=character.weaponProfType === 'Advanced' ? 'selected' : '' %>>Advanced</option>                        
                    </select>
                </div>               

                <div class="versatile">
                    <div>
                        <span>Versatile</span>
                    </div>
                    <select name="weaponDmgType" id="">
                        <option value="blank" <%=character.weaponDmgType === 'blank' ? 'selected' : '' %>></option>
                        <option value="P" <%=character.weaponDmgType === 'P' ? 'selected' : '' %>>P</option>
                        <option value="S" <%=character.weaponDmgType === 'S' ? 'selected' : '' %>>S</option>
                        <option value="B" <%=character.weaponDmgType === 'B' ? 'selected' : '' %>>B</option>                        
                    </select>
                </div>

                <div class="other-traits">
                    <div>
                        <span>Other Traits</span>
                    </div>
                    <div>
                        <textarea name="otherTraits" id="" cols="30" rows="2" placeholder="<%= character.otherTraits %> "></textarea>
                    </div>
                </div>
            </div>      

            <!-- Ranged -->
            <div class="range-weapon-div">
                <div>
                    <div>
                        <span>Weapon Name</span>
                    </div>
                    <input type="text" name="rangeWeaponName" id="" value="<%= character.rangeWeaponName %>">
                </div>

                <div class="damage-die">
                    <div>
                        <span>Attack</span>
                    </div>
                    <input class="number-input" type="number" name="rangeAtkDie" value=<%= character.rangeAtkDie %>>
                    <span>d</span>
                    <input class="number-input" type="number" name="rangeDmgDie" value=<%= character.rangeDmgDie %>>
                    <select name="rangeDmgType" id="">
                        <option value="P" <%=character.rangeDmgType === 'P' ? 'selected' : '' %>>P</option>
                        <option value="S" <%=character.rangeDmgType === 'S' ? 'selected' : '' %>>S</option>
                        <option value="B" <%=character.rangeDmgType === 'B' ? 'selected' : '' %>>B</option>                        
                    </select>
                </div>

                <div class="weapon-prof-list">
                    <div>Type</div>
                    <select name="rangeProfType" id="">
                        <option value="Unarmed" <%=character.rangeProfType === 'Unarmed' ? 'selected' : '' %>>Unarmed</option>
                        <option value="Simple"  <%=character.rangeProfType === 'Simple' ? 'selected' : '' %>>Simple</option>
                        <option value="Martial"  <%=character.rangeProfType === 'Martial' ? 'selected' : '' %>>Martial</option>
                        <option value="Advanced"  <%=character.rangeProfType === 'Advanced' ? 'selected' : '' %>>Advanced</option>                        
                    </select>
                </div>        

                <div class="range">
                    <div>
                        <span>Range</span>
                    </div>
                    <input class="number-input" type="number" name="weaponRange" value=<%= character.weaponRange %>>
                </div>

                <div class="reload">
                    <div>
                        <span>Reload</span>
                    </div>
                    <input class="number-input" type="number" name="rangeReload" value=<%= character.rangeReload %> >
                </div>

                <div class="other-traits">
                    <div>
                        <span>Other Traits</span>
                    </div>
                    <div>
                        <textarea name="rangeTraits" id="" cols="30" rows="2" placeholder="<%= character.rangeTraits %> " ></textarea>
                    </div>
                </div>
            </div> 
    </div>           
       
    </section> <!--main container right-->
    
</section> <!-- main container--> 
 </form>

</body>
<script type="text/javascript" src="/js/main.js"></script>

<!-- ckeditor, might try it out in the future, linked and script below -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/ckeditor/4.19.1/ckeditor.js" integrity="sha512-Ooi9IbjM2SIDjQ02ENbPFuuORT8F8Rc+rowcYfLneDwKRxw1+gVVj5tciVmV/APnA/Ys+qy1MbNKK3k2EaAHcw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->

<!-- <script>
    CKEDITOR.replace('body', {
        plugins: 'wysiwygarea, toolbar, basicstyles, link'
    })
</script> -->
<!-- ---------------- -->

</html>